/* Container for the recommendation widget */
  .fs-recommendation-widget {
    background-color: transparent;
    text-align: center;
    min-height: 295px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* Widget heading */
  #fs-title {
    font-size: 20px;
    color: #333;
    margin: 10px 0 10px 15px;
    text-align: left;
  }

  /* Recommendation item */
  .recommendation-item {
    background-color: #fff;
    /*padding: 3px;*/
    margin: 3px 0;
    border-radius: 8px;
    width: 200px;
  }

  .recommendation-item img {
    /*height: 206.67px;*/
    height: 320px;
    width: 200px;
    border-radius: 4px;
  }

  /* Recommendation item link */
  .recommendation-item h3 {
    font-size: 16px;
    color: #333;
    margin: 5px 0;
    text-decoration: none;
  }

  /* Recommendation item price */
  .recommendation-item .recommendation-price {
    /*width: 140px;*/
    height:18px;
    font-size: 14px;
    margin: 5px 0;
  }

  .recommendations-carousel {
    display: unset;
    text-align: center;
  }

  .fs-recommendation-widget-products-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
  }
  .recommendation-list {
    display: flex;
    transition: transform 0.5s ease;
    position: relative;
    /*transform: translateX(600px);*/
    cursor: grab;
    transform: translate3d(0px, 0px, 0px);
    transition-duration: 0ms;
    width: 100%;
    height: 100%;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 100;
  }

  .recommendation-item {
    text-align: center;
    background: transparent;
    margin: 0 20px;
    z-index: 10;
  }

  .recommendation-title {
    text-align: left;
    color: #727272;
    /*width: 140px;*/
    /*height:31.33px;*/
    font-size: 38px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .product-title {
    text-align: left;
    font-size: 14px;
    color: #727272;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .recommendation-price {
    text-align: left;
    color: #212121;
  }
  .carousel-navigation {
    margin-top: 5px;
  }

  .carousel-container {
    padding: 3px;
    /*overflow-x: scroll;*/
    min-height: 320px;
    /*   overflow: scroll; */
    /*   -webkit-overflow-scrolling: touch;  */
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
  }

  .carousel-container::-webkit-scrollbar {
    width: 0; /* Hide the scrollbar on Webkit browsers (Chrome, Safari) */
  }

  .carousel-container::-webkit-scrollbar-thumb {
    background: transparent; /* Hide the thumb on Webkit browsers */
  }

  .carousel-container::-webkit-scrollbar-track {
    background: transparent; /* Hide the track on Webkit browsers */
  }

  .scroll-container {
    /*width: 600px;*/
  }

  /* pagination */
  .pagination-wrapper {
    /*width: 100%;*/
    /*height: 100%;*/
    /*background: #222222;*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .pagination-container {
    position: relative;
    left: 40%;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .pagination-container span{
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;
    background-color: black;
    opacity: 0.2;
  }
  .pagination-container span.active{
    opacity: 0.5;
  }
  .pagination-container span:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    border-radius: 50%;
  }

.fs_recommendation_arrow{
    background-color: #f0f0f0;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    font-weight: bolder;
}